<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" [text]=""></ion-back-button>
    </ion-buttons>
    <ion-title> Encargos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Encargos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label> Tiendas </ion-label>
      <ion-select
        placeholder="Tiendas"
        (ionChange)="handleChange($event)"
        [multiple]="true"
      >
        <ion-select-option *ngFor="let stores of stores" [value]="stores">{{ stores["name"] }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Fecha inicial</ion-label>
      <ion-input
        value="{{ start_date | date: 'yyyy-MM-dd' }}"
        id="start_date"
        class="ion-text-end"
      ></ion-input>
      <ion-popover trigger="start_date" expand="block">
        <ng-template>
          <ion-datetime
            presentation="date"
            (ionChange)="handdleStartDate($event)"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>
    <ion-item>
      <ion-label>Fecha final</ion-label>
      <ion-input
        value="{{ final_date | date: 'yyyy-MM-dd' }}"
        id="final_date"
        class="ion-text-end"
      ></ion-input>
      <ion-popover trigger="final_date" expand="block">
        <ng-template>
          <ion-datetime
            presentation="date"
            (ionChange)="handdleFinalDate($event)"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Número de encargo</ion-label>
      <ion-input
        placeholder="Número de encargo"
        (ionChange)="handdlecustomOrderNumber($event)"
      ></ion-input>
    </ion-item>
  </ion-list>
  <br />
  <ion-list>
    <ion-button expand="block" (click)="search()">Buscar</ion-button>
  </ion-list>

  <div *ngFor="let customOrder of customOrders">
    <app-custom-order-list [customOrder]="customOrder"></app-custom-order-list>
  </div>
</ion-content>
